
<div class="container-fluid">
    <div class="container">
        <h2 class="text-center" id="title">Welcome to ViktoriiasVaxxPassport.com (aka VVP)!</h2>
        <hr>
        <div class="row jumbtron mt-3 d-flex justify-content-center" id="about">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 p-2 text-center">
                {{!-- <h1>Welcome to ViktoriiasVaxxPassport.com (aka VVP)!</h1> --}}
                <div id='about-pic'>
                    <div class='text-left' id='about-text'>
                        <p> Are you sick of trying to find your paper COVID vaccine card? </p>
                        <p> Did you lose your paper vaccine card?</p>
                        <p>Did you leave your vaccine card in your pants and wash
                            it?</p>

                        <p> Well, we have a solution for you! Simply sign up with VVP
                            and enter in your information and get your very own VPP Number to prove to the world you've
                            been
                            vaccinated. VVP is the world's first digital vaccination passport!
                        </p>

                        <p class="font-italic"><strong>Disclaimer: VVP is a completely fake student project. Please do
                                not enter any real
                                personal
                                or
                                health information. VVP is not responsible for securing any of your personal
                                information.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/css/about.css">
