<div class="container-fluid">
  <div class="parallax2  row">
  </div>
  <div class="row jumbtron mt-3 d-flex justify-content-center" id="about">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 p-2 text-center">
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni placeat minus ad fugit ab dolorum
        suscipit ratione nam, dignissimos unde nulla autem nemo totam neque explicabo cum in, architecto tempora
        eius illum. Molestiae, at veritatis? Aperiam enim repudiandae velit earum, totam, beatae saepe sint
        aliquam sapiente molestiae eligendi architecto suscipit soluta doloribus explicabo esse inventore
        mollitia vero.

        Alias itaque ipsum quaerat. Ab, assumenda obcaecati, alias cum delectus dignissimos exercitationem non
        et facere doloribus necessitatibus, nobis error itaque mollitia. Laboriosam blanditiis autem, labore
        nostrum delectus maxime, dignissimos dolores aperiam veniam possimus nobis aliquam aliquid dolorum dicta
        voluptate. Consequuntur incidunt quaerat quae?
      </p>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="col-12">
      <h1 class="display-4 text-center" id="stuff">Be on track</h1>
      <hr class="light">

    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <h5 class="background">#BeHereNow</h5>

        <iframe src="https://giphy.com/embed/oFjyyoWcPqT1oqAnrQ" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/corona-hope-no-panic-oFjyyoWcPqT1oqAnrQ"></a></p>

      </div>
      <div class="col-md-4">
        <h5 class="background">#getVaxx</h5>

        <iframe src="https://giphy.com/embed/aLQx9RYdXxNEgliwG4" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/IntoAction-aLQx9RYdXxNEgliwG4"></a></p>

      </div>
      <div class="col-md-4">
        <h5 class="background">#Wash"Em</h5>
        <iframe src="https://giphy.com/embed/d7HWDCV6t72iRm9vPh" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/hands-wash-hygiene-d7HWDCV6t72iRm9vPh"></a></p>

      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="container-fluid padding">
      <div class="text-center">
        <div class="col-md-12">
          <h4>Team</h4>
          <hr class="light">
          <p>Jason Jones</p>
          <p>Viktoriia Midor</p>
          <p>Stefan Podzinski</p>
        </div>

        <div class="col-12">
          <hr class="light">
          <h4>&copy; VVP</h4>
        </div>
  </footer>