<div class="container-fluid">
  <div class="parallax2  row">
  </div>
  <div class="row jumbtron mt-3 d-flex justify-content-center" id="info">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 p-2 text-center">
      <h1>COVID-19 Info and Resources</h1>
      <ul class='no-bullets'>
        <li><a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">Information from the WHO</a></li>
        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/need-to-know.html" target="_blank">Information from the CDC</a></li>
        <li><a href="https://www.avert.org/coronavirus/covid-19-myths-and-facts" target="_blank">Facts and Myths</a></li>
        <li><a href="https://giscorps.maps.arcgis.com/apps/webappviewer/index.html?id=2ec47819f57c40598a4eaf45bf9e0d16&extent=-20471407.8876%2C1738918.2961%2C397735.3229%2C10466192.4375%2C102100" target="_blank">Find a Test Site Near Me</a></li>
        <li><a href="https://www.vaccines.gov/" target="_blank">Find a Vaxx Site Near Me</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="col-12">
      <h1 class="display-4 text-center" id="stuff">Keep Calm and Do Your Part</h1>
      <hr class="light">

    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <h5 class="background">#BeHereNow</h5>

        <iframe src="https://giphy.com/embed/oFjyyoWcPqT1oqAnrQ" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/corona-hope-no-panic-oFjyyoWcPqT1oqAnrQ"></a></p>

      </div>
      <div class="col-md-4">
        <h5 class="background">#getVaxx</h5>

        <iframe src="https://giphy.com/embed/aLQx9RYdXxNEgliwG4" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/IntoAction-aLQx9RYdXxNEgliwG4"></a></p>

      </div>
      <div class="col-md-4">
        <h5 class="background">#Wash'Em</h5>
        <iframe src="https://giphy.com/embed/d7HWDCV6t72iRm9vPh" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/hands-wash-hygiene-d7HWDCV6t72iRm9vPh"></a></p>

      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="container-fluid padding">
      <div class="text-center">
        <div class="col-md-12">
          <h4>Team</h4>
          <hr class="light">
          <p>Jason Jones</p>
          <p>Viktoriia Midor</p>
          <p>Stefan Podzinski</p>
        </div>

        <div class="col-12">
          <hr class="light">
          <h4>&copy; VVP</h4>
        </div>
  </footer>